################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/mc_class/v17/.wsuo
/.vs/VSWorkspaceState.json
